


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;}


header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;        
}





nav a {
    color: white;
    margin: 10px;
    text-decoration: none;}





footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #cee2f7;
}