{% extends "base.html" %}

{% block content %}

<h2>Inventario de Libros UEA</h2>


<div class="contenedor-pdf">
    <a href="/reporte_pdf" class="btn-pdf">📄 Descargar PDF</a>
    
</div>

<table>

<tr>
    <th>ID</th>
    <th>Imagen</th>
    <th>Nombre</th>
    <th>Categoria</th>
    <th>Autor</th>
    <th>Editorial</th>
    <th>Cantidad</th>

    {% if current_user.tipo == 'admin' %}
    <th>Acciones</th>
    {% endif %}
</tr>

{% for libro in libros %}

<tr>
    <td>{{ libro.id_libro }}</td>

    <td>
        {% if libro.imagen %}
        <img src="{{ url_for('static', filename='img/libros/' + libro.imagen) }}" width="70">
        {% else %}
        Sin imagen
        {% endif %}
    </td>

    <td>{{ libro.nombre }}</td>
    <td>{{ libro.categoria }}</td>
    <td>{{ libro.autor }}</td>
    <td>{{ libro.editorial }}</td>
    <td>{{ libro.cantidad }}</td>

    {% if current_user.tipo == 'admin' %}
    <td>
        <a href="/editar/{{ libro.id_libro }}">✏️ Editar</a>
        <a class="boton-eliminar" href="/eliminar/{{ libro.id_libro }}">
            ❌ Eliminar
        </a>
        <a href="/prestar/{{ libro.id_libro }}" class="btn-prestar">📚 Prestar</a>


        
    </td>
    {% endif %}
</tr>

{% endfor %}

</table>

<h2>📚 Libros Prestados</h2>

<table>
    <tr>
        <th>Libro</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Acción</th>
    </tr>

    {% for p in prestamos %}
    <tr>
        <td>{{ p.nombre }}</td>
        <td>{{ p.usuario }}</td>
        <td>{{ p.fecha_prestamo }}</td>
        <td>
            <a href="/devolver/{{ p.id_prestamo }}" class="btn-devolver">↩ Devolver</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}