{% extends "base.html" %}

{% block content %}

<h2>Inventario de Libros</h2>

<table>

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Categoria</th>
<th>Autor</th>
<th>Editorial</th>
<th>Cantidad</th>
<th>Acciones</th>
</tr>

{% for libro in libros %}

<tr>

<td>{{ libro.id_libro }}</td>
<td>{{ libro.nombre }}</td>
<td>{{ libro.categoria }}</td>
<td>{{ libro.autor }}</td>
<td>{{ libro.editorial }}</td>
<td>{{ libro.cantidad }}</td>

<td>
<a class="boton-eliminar" href="/eliminar/{{ libro.id_libro }}">Eliminar</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}